.newSongForm form h2 {
    padding: 20px 20px;
    font-size: 32px;
    font-weight: 800;
    color: aliceblue;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}

.newSongForm form {
    border-radius: 100px;
    max-width: 900px;
    margin: 2em auto;
    padding: 10px;
}

.newSongForm form label {
    font-family: monospace, sans-serif;
    color: antiquewhite;
    padding-right: 1em;
}

.newSongForm form label {
    margin: 5px 0;
}

.newSongForm form input {
    width: 70%;
}

.newSongForm form input {
    margin-bottom: 5px;
    display: inline-block;
}

.newSongForm form button {
    border: none;
    border-radius: 10px;
    background: linear-gradient(blue, aliceblue);
    font-size: 18px;
}
